.empty {
  &__title {
    text-align: center;
    font-size: 24px;
    margin: 0 0 65px 0;
  }
  &__image {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__button-back {
    padding: 10px 0;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    background-color: var(--orange);
    border-radius: 25px;
    display: block;
  }
}
