.pizzac {
  &__title {
    font-size: 35px;
    font-weight: var(--bold);
    margin: 0 0 25px 0;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  &__column {
    flex: 1 1 auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    width: 260px;
    height: 260px;
    object-fit: contain;
    margin: 0 0 10px 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__sub-title {
    line-height: 23px;
    text-align: center;
    font-size: 23px;
    font-weight: var(--bold);
    margin: 0 0 20px 0;
  }
  &__body {
    background-color: #f3f3f1ff;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 0 35px 0;
    font-weight: var(--bold);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  &__label {
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    margin: 0 0 5px 0;
    flex: 1 1 50%;
    &_active {
      background-color: #fff;
    }
  }
  &__range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__size {
    flex: 1 1 auto;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    &_active {
      background-color: #fff;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__price {
    font-size: 26px;
    font-weight: var(--bold);
  }
  &__btn {
    color: var(--orange);
    font-size: 16px;
    font-weight: var(--bold);
    display: flex;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 30px;
    padding: 5px 10px;
    transition: 300ms all ease 0s;
    cursor: pointer;
    &:hover {
      background-color: var(--orange);
      color: #fff;
    }
    span {
      font-size: 23px;
      margin: 0 5px 0 0;
    }
  }
}

.pizzac__label,
.pizzac__size {
  transition: 200ms ease 0s;
  cursor: pointer;
}

.pizzac__label:hover,
.pizzac__size:hover {
  background-color: #fff;
}
