.error {
  text-align: center;
  &__title {
    font-size: 55px;
    margin: 0 0 15px 0;
  }
  &__subtitle {
    font-size: 25px;
    line-height: 25px;
    max-width: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .error {
    &__title {
      font-size: 45px;
      margin: 0 0 15px 0;
    }
    &__subtitle {
      font-size: 21px;
      line-height: 21px;
    }
  }
}
