.add-pizza {
  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
  }
  &__minus {
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 30px;
    transform: translate(0, -50%);
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--orange);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: var(--orange);
    }
    &::before {
      top: 35%;
      left: -2px;
      transform: rotate(-45deg);
    }
    &:after {
      bottom: 35%;
      left: -2px;
      transform: rotate(45deg);
    }
  }
  &__plus {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 30px;
    transform: translate(0, -50%);
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--orange);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: var(--orange);
    }
    &::before {
      top: 35%;
      right: -2px;
      transform: rotate(45deg);
    }
    &:after {
      bottom: 35%;
      right: -2px;
      transform: rotate(-45deg);
    }
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    cursor: pointer;
  }
}
