/* Первичные настройки и обнуляющий стиль */
@import "./css/header.scss";
@import "./css/categories.scss";
@import "./css/sort.scss";
@import "./css/pizzac.scss";
@import "./css/notfound.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --orange: #ff5f00ff;
  --bold: 600;
  --family: "Roboto", sans-serif, serif;
  --gray: #a4a7a4ff;
}
ul,
li,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus {
  background-color: transparent;
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* ------------------------------------------------------------- */

body {
  background-color: #fddf84ff;
  font-family: var(--family);
  margin: 0 30px;
}

.wrapper {
  max-width: 1400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 0;
}
.content {
  padding: 40px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 30px auto;
  }
  body {
    margin: 0 15px;
  }
  .container {
    padding: 0 20px;
  }
}
